*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: openSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: openSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: BebasNeue;
  font-display: swap;
  src: url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: "Bebas Neue";
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 75%;
}

.btn__price {
  position: relative;
  margin-left: 20px;
}

.btn__price:before {
  position: absolute;
  width: 1px;
  height: 100%;
  display: block;
  content: '';
  background-color: rgba(26, 25, 23, 0.5);
  left: -15px;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(-18.33deg);
      -ms-transform: translate(0, -50%) rotate(-18.33deg);
          transform: translate(0, -50%) rotate(-18.33deg);
}

.screen-background-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.screen__content {
  position: relative;
  z-index: 2;
  height: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.twitter {
  width: 25px;
  height: 15px;
}

.quote__picture {
  width: 65px;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: relative;
  left: -10px;
}

.nested-2 {
  margin-left: -120px;
}

.nested-3 {
  margin-left: -70px;
}

.quote {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding: 15px 10px 20px 10px;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.quote:last-of-type {
  margin-bottom: 0;
}

.quote__name {
  color: #FFB548;
  font-size: 24px;
  letter-spacing: 2px;
}

.quote__icon {
  position: absolute;
  left: 95%;
  top: 15px;
  -webkit-transform: translate(-95%, 0);
      -ms-transform: translate(-95%, 0);
          transform: translate(-95%, 0);
}

.quotes-container {
  position: absolute;
  left: 80%;
  top: 50%;
  -webkit-transform: translate(-80%, -50%);
      -ms-transform: translate(-80%, -50%);
          transform: translate(-80%, -50%);
  width: 25%;
  max-width: 450px;
}

.quote-adder-info {
  margin-left: 15px;
}

.quote__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.quote__job {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.quote__picture-icon {
  height: 65px;
  width: 65px;
  display: block;
  border-radius: 50%;
  background-color: #FFB548;
}

.quote__text {
  color: white;
  margin-bottom: 5px;
  font-size: 18px;
}

.quote__date {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.scrollDownBold {
  width: 15px;
  height: 8px;
}

.site-language__icon {
  margin-left: 5px;
}

.requirements-container {
  margin-left: 100px;
  width: 70%;
  border: 1px solid #979797;
  max-width: 580px;
}

.requirements-container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.requirements-container-row:last-of-type .req-item {
  position: relative;
}

.requirements-container-row:last-of-type .req-item:after {
  position: absolute;
  top: 100%;
  display: block;
  content: '';
  left: 20%;
  -webkit-transform: translate(0, -100%) skew(-15deg, 0);
      -ms-transform: translate(0, -100%) skew(-15deg, 0);
          transform: translate(0, -100%) skew(-15deg, 0);
  width: 50px;
  height: 9px;
  border: 1px solid #979797;
}

.req-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 15px 20px 25px 20px;
  border: 1px solid #979797;
}

.what-is-sos-text-container {
  padding: 230px 0 0 120px;
  width: 55%;
  z-index: 2;
  position: relative;
}

.what-is-sos__title {
  position: relative;
  margin-bottom: 20px;
}

.what-is-sos__title:after {
  width: 100%;
  height: 2px;
  display: block;
  content: '';
  position: absolute;
  background: #FFFFFF;
  border-radius: 4px;
}

.site-language__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 700;
  font-family: openSans, sans-serif;
  color: white;
}

.xbox {
  width: 30px;
  height: 30px;
}

.header {
  min-height: 80px;
}

.steam {
  width: 30px;
  height: 40px;
}

.site-language {
  margin-right: 50px;
  cursor: pointer;
}

.site-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-links__link {
  margin-right: 20px;
}

.site-links__link:last-of-type {
  margin-right: 0;
}

.header-menu__element {
  margin-right: 30px;
  font-size: 12px;
  font-weight: 700;
  font-family: openSans, sans-serif;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.header-menu__element:last-of-type {
  margin-right: 0;
}

.site-accessibility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__link {
  color: white;
}

.title {
  color: white;
  letter-spacing: 3px;
  line-height: 80px;
  font-size: 80px;
}

.btn {
  background: -o-linear-gradient(255.32deg, #FFB548 11.27%, #F3AF34 90.4%);
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  padding: 20px 15px;
  color: #1A1917;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-family: openSans, sans-serif;
  font-size: 16px;
  line-height: 21px;
}

.main--title {
  margin-bottom: 10px;
}

.sub-title {
  color: white;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.screen__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.screen__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.page__pagination {
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__bullet {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.page__bullet_active {
  background-color: white;
}

.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 9px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
}

.scrollDownLight {
  width: 25px;
  height: 15px;
}

.scroll-button {
  font-weight: 700;
  font-family: openSans, sans-serif;
  font-size: 12px;
  color: white;
  position: absolute;
  left: 50%;
  cursor: pointer;
  bottom: 60px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.scroll-button__icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 30px;
  -webkit-animation: scroll-button-animation 3s infinite;
          animation: scroll-button-animation 3s infinite;
}

@-webkit-keyframes scroll-button-animation {
  from {
    top: 30px;
  }
  15% {
    top: 20px;
  }
  85% {
    top: 20px;
  }
  to {
    top: 30px;
  }
}

@keyframes scroll-button-animation {
  from {
    top: 30px;
  }
  15% {
    top: 20px;
  }
  85% {
    top: 20px;
  }
  to {
    top: 30px;
  }
}

.what-is-sos__main-text {
  font-weight: 400;
  font-family: openSans, sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin-left: 180px;
  color: white;
  width: 50%;
}

.page__drag-scroll {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(24, 24, 24, 0.8);
  border-radius: 5px;
}

.main-sub-title {
  margin-bottom: 30px;
}

.what-is-sos__picture {
  position: absolute;
  top: 50%;
  left: 90%;
  -webkit-transform: translate(-90%, -50%);
      -ms-transform: translate(-90%, -50%);
          transform: translate(-90%, -50%);
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  width: 35%;
  height: auto;
  border-radius: 25px;
}

.features__inner {
  position: absolute;
  left: 90%;
  width: 370px;
  top: 50%;
  padding-right: 40px;
  -webkit-transform: translate(-90%, -50%);
      -ms-transform: translate(-90%, -50%);
          transform: translate(-90%, -50%);
}

.features__title {
  margin-bottom: 40px;
}

.req-item__text {
  color: white;
  font-size: 18px;
  line-height: 22px;
}

.req-item__title {
  color: #FFB548;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.feature {
  margin-bottom: 30px;
  position: relative;
  margin-left: 35px;
}

.feature:first-of-type:before {
  background-color: white;
}

.feature:before {
  position: absolute;
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  top: 50%;
  left: -35px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.feature:last-of-type {
  margin-bottom: 0;
}

.feature__title_active {
  margin-bottom: 10px;
}

.quotes-main-text-container {
  position: absolute;
  top: 50%;
  left: 120px;
  width: 60%;
  max-width: 430px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.quotes__title {
  margin-bottom: 50px;
}

.quotes__big-text {
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.quotes__big-text {
  margin-bottom: 40px;
}

.feature__headline {
  color: #FFB548;
  letter-spacing: 2px;
  line-height: 36px;
  font-size: 36px;
}

.req-titles {
  padding-top: 150px;
  text-align: center;
  margin-bottom: 100px;
}

.feature__text {
  color: white;
  font-size: 18px;
  line-height: 22px;
}

.what-is-sos__text-decoration {
  position: relative;
  white-space: nowrap;
}

.what-is-sos__text-decoration:after {
  position: absolute;
  display: block;
  content: '';
  background: rgba(255, 181, 72, 0.7);
  height: 4px;
  width: 100%;
  left: 100%;
  top: 75%;
  -webkit-transform: translate(-100%, -75%);
      -ms-transform: translate(-100%, -75%);
          transform: translate(-100%, -75%);
}

.news-letter-label {
  position: relative;
  width: 55%;
  margin-right: 20px;
}

.news-letter-label__tip {
  top: 0;
  left: 20px;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.news-letter__input {
  background: rgba(205, 203, 203, 0.08);
  width: 100%;
  border-radius: 5px;
  color: #FFB548;
  font-size: 18px;
  outline: none;
  padding: 25px 10px 15px 20px;
}

.news-letter__btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
}

.news-letter__title {
  margin-bottom: 20px;
}

.news-letter-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-letter__big-text {
  font-size: 18px;
  color: white;
  width: 85%;
  line-height: 22px;
  margin-bottom: 30px;
}

.news-letter-inner-container {
  position: absolute;
  width: 50%;
  top: 50%;
  max-width: 680px;
  left: 80%;
  -webkit-transform: translate(-80%, -50%);
      -ms-transform: translate(-80%, -50%);
          transform: translate(-80%, -50%);
}

.news-letter {
  background-color: #0E0A09;
  height: 100%;
}

.news-letter__picture {
  height: auto;
  width: 35%;
  position: absolute;
  top: 50%;
  left: 100px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media screen and (max-width: 1200px) {
  .quote__name {
    font-size: 19px;
    letter-spacing: 1.75px;
  }
  .news-letter__big-text {
    font-size: 17px;
  }
  .quotes-container {
    left: 90%;
    -webkit-transform: translate(-90%, -50%);
        -ms-transform: translate(-90%, -50%);
            transform: translate(-90%, -50%);
  }
  .quote__job {
    font-size: 17px;
  }
  .quote__text {
    font-size: 15px;
  }
  .quote__picture {
    height: 60px;
    width: 60px;
  }
  .quote__picture-icon {
    height: 60px;
    width: 60px;
  }
  .quote__date {
    font-size: 13px;
  }
  .quotes__big-text {
    font-size: 17px;
  }
  .quotes-main-text-container {
    top: 40%;
    left: 100px;
    -webkit-transform: translate(0, -40%);
        -ms-transform: translate(0, -40%);
            transform: translate(0, -40%);
  }
  .title {
    font-size: 65px;
    line-height: 65px;
  }
  .feature__headline {
    font-size: 32px;
    line-height: 32px;
  }
  .feature__text {
    font-size: 17px;
  }
  .req-item__title {
    font-size: 22px;
    line-height: 20px;
  }
  .req-item__text {
    font-size: 17px;
  }
  .what-is-sos-text-container {
    padding: 190px 0 0 90px;
    width: 60%;
  }
  .what-is-sos__main-text {
    width: 60%;
    margin-left: 150px;
    font-size: 16px;
    line-height: 19px;
  }
  .sub-title {
    font-size: 20px;
    line-height: 20px;
  }
  .btn {
    padding: 18px 14px;
    font-size: 15px;
  }
  .what-is-sos__picture {
    top: 95%;
    left: 50%;
    -webkit-transform: translate(-50%, -95%);
        -ms-transform: translate(-50%, -95%);
            transform: translate(-50%, -95%);
    width: 40%;
  }
  .req-titles {
    padding-top: 130px;
  }
}

@media screen and (max-width: 992px) {
  .quotes-container {
    left: 50%;
    -webkit-transform: translate(-50%, -90%);
        -ms-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 90%;
    width: 80%;
    max-width: 830px;
    padding-right: 20px;
  }
  .news-letter__picture {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 55%;
  }
  .news-letter__big-text {
    width: 90%;
  }
  .news-letter__btn {
    padding: 14px 12px;
  }
  .news-letter__input {
    padding: 20px 10px 15px 20px;
  }
  .news-letter-inner-container {
    width: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    margin: 0 auto;
  }
  .news-letter__big-text {
    font-size: 15px;
  }
  .nested-2 {
    bottom: 45px;
  }
  .nested-3 {
    bottom: 25px;
  }
  .quote__name {
    font-size: 14px;
    letter-spacing: 1.5px;
  }
  .quote__icon {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: -10px;
  }
  .quote__job {
    font-size: 15px;
  }
  .quote__text {
    font-size: 13px;
  }
  .quote__date {
    font-size: 11px;
  }
  .quote__picture-icon {
    height: 55px;
    width: 55px;
  }
  .quote__picture {
    height: 55px;
    width: 55px;
  }
  .quote {
    margin-bottom: 0;
    margin-right: 20px;
    margin-left: 0;
  }
  .quote:last-of-type {
    margin-right: 0;
  }
  .title {
    font-size: 53px;
    line-height: 53px;
  }
  .quotes-main-text-container {
    top: 35%;
    left: 80px;
    -webkit-transform: translate(0, -35%);
        -ms-transform: translate(0, -35%);
            transform: translate(0, -35%);
  }
  .quotes__big-text {
    font-size: 16px;
  }
  .req-item__title {
    font-size: 20px;
    line-height: 20px;
  }
  .req-item__text {
    font-size: 16px;
  }
  .feature__headline {
    font-size: 28px;
    line-height: 28px;
  }
  .feature__text {
    font-size: 16px;
  }
  .what-is-sos-text-container {
    padding: 160px 0 0 80px;
    width: 65%;
  }
  .what-is-sos__main-text {
    width: 65%;
    margin-left: 120px;
    font-size: 14px;
    line-height: 16px;
  }
  .sub-title {
    font-size: 18px;
    line-height: 18px;
  }
  .header-menu {
    display: none;
  }
  .btn {
    padding: 16px 13px;
    font-size: 14px;
  }
  .what-is-sos__picture {
    width: 55%;
  }
  .req-titles {
    padding-top: 110px;
  }
}

@media screen and (max-width: 768px) {
  .quote__name {
    font-size: 10px;
  }
  .quote__job {
    font-size: 12px;
  }
  .quote__picture-icon {
    height: 45px;
    width: 45px;
  }
  .news-letter__big-text {
    font-size: 13px;
  }
  .news-letter__input {
    padding: 20px 10px 10px 20px;
    font-size: 13px;
  }
  .quote__picture {
    width: 45px;
    height: 45px;
  }
  .quote__inner {
    margin-bottom: 10px;
  }
  .quote-adder-info {
    margin-left: 10px;
  }
  .quote {
    padding: 13px 8px 13px 8px;
  }
  .quote__text {
    font-size: 10px;
  }
  .quote__date {
    font-size: 8px;
  }
  .title {
    font-size: 43px;
    line-height: 43px;
  }
  .quotes-main-text-container {
    top: 25%;
    -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
            transform: translate(0, -25%);
  }
  .quotes__big-text {
    font-size: 14px;
  }
  .what-is-sos-text-container {
    padding: 130px 0 0 60px;
    width: 70%;
  }
  .feature__headline {
    font-size: 25px;
    line-height: 25px;
  }
  .feature__text {
    font-size: 15px;
  }
  .what-is-sos__main-text {
    width: 75%;
    margin-left: 80px;
    font-size: 12px;
    line-height: 14px;
  }
  .page__pagination {
    right: 35px;
  }
  .sub-title {
    font-size: 16px;
    line-height: 16px;
  }
  .btn {
    padding: 13px 12px;
    font-size: 13px;
  }
  .page__bullet {
    width: 13px;
    height: 13px;
    margin: 8px 0;
  }
  .site-accessibility {
    display: none;
  }
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main {
    width: 65%;
  }
  .what-is-sos__picture {
    top: 80%;
    -webkit-transform: translate(-50%, -80%);
        -ms-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
    width: 75%;
  }
  .req-titles {
    padding-top: 90px;
  }
  .req-item__title {
    font-size: 18px;
    line-height: 18px;
  }
  .req-item__text {
    font-size: 15px;
  }
}

@media screen and (max-width: 596px) {
  .quotes-main-text-container {
    top: 15%;
    -webkit-transform: translate(0, -15%);
        -ms-transform: translate(0, -15%);
            transform: translate(0, -15%);
    left: 60px;
  }
  .news-letter-label {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .news-letter__picture {
    width: 80%;
  }
  .news-letter-buttons-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quotes-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .quote__text {
    text-align: center;
  }
  .quote__date {
    text-align: center;
  }
  .quote__picture {
    width: 40px;
    height: 40px;
  }
  .quote__picture-icon {
    height: 40px;
    width: 40px;
  }
  .quote__inner {
    margin-bottom: 5px;
  }
  .quote {
    margin-right: 0;
    padding: 10px 8px 7px 8px;
    margin-bottom: 20px;
  }
  .quote:last-of-type {
    margin-bottom: 0;
  }
  .nested-3 {
    bottom: 0;
  }
  .nested-2 {
    bottom: 0;
  }
  .title {
    font-size: 33px;
    line-height: 33px;
  }
  .quotes__big-text {
    font-size: 12px;
  }
  .feature__headline {
    font-size: 23px;
    line-height: 23px;
  }
  .feature__text {
    font-size: 14px;
  }
  .what-is-sos-text-container {
    padding: 120px 0 0 50px;
    width: 85%;
  }
  .what-is-sos__main-text {
    width: 70%;
    margin-left: 60px;
    font-size: 10px;
    line-height: 12px;
  }
  .sub-title {
    font-size: 13px;
    line-height: 13px;
  }
  .btn {
    padding: 10px 11px;
    font-size: 12px;
  }
  .page__pagination {
    right: 25px;
  }
  .page__bullet {
    width: 12px;
    height: 12px;
  }
  .features__inner {
    text-align: center;
    width: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .requirements-container {
    margin-left: 50px;
  }
  .req-item__title {
    font-size: 13px;
    line-height: 13px;
  }
  .req-item__text {
    font-size: 11px;
  }
}
